html,
body {
margin: 0;
}

body {
  /* police dans le css */
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.btn {
  padding: 20px 0;
  color: #4A4A4A;
  border: 1px solid #4A4A4A;
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 0.6;
  transition: opacity 0.3s ease;
  text-decoration: none;
}
.btn:hover {
  opacity: 1;
  text-decoration:none; 
  color: black;
  border: 1px solid black;
  font-weight: normal; 
}
.container {
  height: 100vh;
  width: 100vw;
  background: #dff7f7; 
  display: grid;
  grid-template-columns:1fr 1fr 1fr 1fr 1fr 1fr ;
  grid-template-rows:1fr 4fr 1fr ;
  grid-template-areas:
  "h c c c c c"
  "h c c c c c"
  "f f f f f f";
  gap: 3px;

}

.header {
  display: flex;
  flex-direction: column;
  background: #d8d0cb;
  grid-area: h; 
  align-items: center;
  justify-content: space-evenly;
}

.content {
  grid-area: c; 
}

/* img {
  position: relative;
  height: 100%;
  width: 100%; 
} */

.image {
  /* object-fit: cover; */
  /* object-fit: contain; */
  /* width: 100%; */
  height: 86%;
  background-image: url("https://www.espritjeu.com/upload/image/sid-meier-s-civilization---une-aube-nouvelle-p-image-65405-grande.jpg"); 
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
 
}
 

#lettrine {
  width: 100%;
  border: 1px solid #999999;
  font-family:Arial, Helvetica, sans-serif;
  font-size:24px;
  background-color: #999999;
  background: linear-gradient(to right,#A8AAAC, white 50%);
  margin: 0px;
}
  #lettrine span.lettrine {
    /* text-indent : 0px; */
    overflow: hidden;
    width: 100px;
    height: 100px;
    background-image : url("b.jpg");
    float: left;
    margin: 1px 5px 5px 0px;
    background-size: 100% 100%;
  }

.footer {
  display: flex;
  grid-area: f;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.lieu {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.icons a{
  color: black;
  font-size: 35px;
  margin-left: 15px;
  margin-right: 15px;
}

@media all and (max-width: 1800px) {
  .container-marek {
    width: auto;
  }
}

@media all and (max-width: 800px) {
   .card-product img  {
    display: none;
  }
}

@media all and (max-width: 720px) {
  .card-product7 img {
  display: none;
 }
}

@media all and (max-width: 700px) {
  .card-product3 img, .card-product4 img, .card-product5 img, .card-product1 img, .square {
    display: none;
  }
}