/* pour les fonts : aller sur ggolefonts, sélectionner la police
+ tous ses style clique sur @import, séléctionner tout sauf <style>
et copier ça ici, puis le truc en-dessous : font-family: 'Comic Neue', cursive;
à mettre où on veut l'appliquer
y a : font-style, font-size, font-weight: 100 à 900 si ça existe*/
@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

html, body {
margin: 0;
}

body {
  font-family: 'Comic Neue', cursive;
}

/*boutons non gardés qui sont dans le header en complément des "i class"
 .btn {
  padding: 20px 0;
  color: #4A4A4A;
  border: 1px solid #4A4A4A;
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 0.6;
  transition: opacity 0.3s ease;
  text-decoration: none; 
 }
.btn:hover {
  opacity: 1;
  text-decoration:none; 
  color: black;
  border: 1px solid black;
  font-weight: normal; 
} */

.container {
  height: 100vh;
  width: 100vw;
  /* background: #dff7f7;  */
  display: grid;
  grid-template-columns:1fr 1fr 1fr 1fr 1fr 1fr ;
  grid-template-rows:1fr 4fr 1fr ;
  grid-template-areas:
  "h c c c c c"
  "h c c c c c"
  "f f f f f f";
  gap: 3px;
}

.header {
  grid-area: h; 
  display: flex;
  flex-direction: column;
  background: #f8f4f1;
  align-items: center;
  justify-content: space-evenly;
}

.content {
  grid-area: c; 
}
#lettrine {
  width: 100%;
  height: 20%;
  border: 1px solid #999999;
  font-family:Arial, Helvetica, sans-serif;
  font-size:24px;
  background-color: #999999;
  background: linear-gradient(to right,#A8AAAC, white 50%);
  margin: 0px;
  color: brown;
  font-family: 'Comic Neue';
}
  #lettrine span.lettrine {
    /* text-indent : 0px; */
    overflow: hidden;
    width: 100px;
    height: 100px;
    background-image : url("b.jpg");
    float: left;
    margin: 1px 5px 5px 0px;
    background-size: 100% 100%;
  
  }

.image {
  /* object-fit: cover; */
  /* object-fit: contain; */
  /* width: 100%; */
  height: 80%;
  background-image: url("https://www.espritjeu.com/upload/image/sid-meier-s-civilization---une-aube-nouvelle-p-image-65405-grande.jpg"); 
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;

  }
.footer {
  margin: auto; /* ça permet de centrer la div*/
  /* autre proposition margin-right: auto; + margin-left : auto */
  width: 90%;
  display: flex;
  grid-area: f;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  background: #fbfbe1; 
  border: 5px solid black;
/* existe : solid, dotted, dashed, double, groove, ridge(3d), inset, outset*/
}

.lieu {
  display: flex;
  justify-content: center;
  /* flex-wrap: wrap; */
}

div.lieu iframe{
  /* width: 250px; */
  height : 100%; 
}
.icons a{
  color: black;
  font-size: 35px;
  margin-left: 15px;
  margin-right: 15px;
}
a {
  text-decoration: none; /*le souligné a disparu pour les liens*/
  color: red; /* tous les a ont une couleur red*/
}

@media all and (max-width: 1350px) {
  .lieu {
    width: 200px;
    height: 150px;
  }
  h1{
    font-size: 20px;
  }
}

@media all and (max-width: 1000px) {
  h1{
    display: none;
  }
  #lettrine {
    font-size: 15px;
  }
  .icons a {
    font-size: 20px; 
  }
  .image{
    background-size: 100% 70%;
  }
}

@media screen and (max-width: 700px) {
  .image{
    background-size: 100% 50%;
  }
}

@media screen and (max-width: 550px) {
  /* .lieu {
    display: none;
  } */
  .image{
    background-size: 100% 40%;
  }
}




