html
body {
margin: 0;
}

body {
  /* police dans le css */
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.container {
  height: 100vh;
  width: 100vw;
  background: #dff7f7; 
  display: grid;
  grid-template-columns:1fr 1fr 1fr 1fr 1fr 1fr ;
  grid-template-rows:1fr 4fr 1fr ;
  grid-template-areas:
  "h c c c c c"
  "h c c c c c"
  "f f f f f f";
  gap: 3px;

}

.header {
  background: #e9f5d6;
  grid-area: h; 
}

.content {
  background: #f8d9b6; 
  grid-area: c; 
}
#jeu {
  /* background-size: 200px 200px; */
  margin-left: auto;
  margin-right: auto;
}
.footer {
  background: #fae1ee; 
  grid-area: f;
}

#lettrine {
  width: 99%;
  border: 1px solid #999999;
  font-family:Arial, Helvetica, sans-serif;
  font-size:36px;
  background-color: #999999;
  background: linear-gradient(to right,#A8AAAC, white 50%);
  margin: 0px;
}
  #lettrine span.lettrine {
    /* text-indent : 0px; */
    overflow: hidden;
    width: 100px;
    height: 100px;
    background-image : url("b.jpg");
    float: left;
    margin: 1px 5px 5px 1px;
    background-size: 100% 100%;
  }







.lieu {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

#definition {
  background-color: sandybrown;
  padding: 12px;
  border: 1px solid black;
}

