/* .a, .b, .c, .d, .e {
  height: 150px;
  width: 150px;
} */ 
.jeux { 
  display: grid; 
  grid-template-columns: repeat(3, 1fr);  
  grid-template-rows: repeat(4, 200px); 
  background-color: beige; 
  gap: 10px 
}
.jeux > div { 
  background-color: green; 
}