@font-face {
    font-family: "flaticon";
    src: url("./flaticon.ttf?9e28ce18c993b1eefc5798acc22d0028") format("truetype"),
url("./flaticon.woff?9e28ce18c993b1eefc5798acc22d0028") format("woff"),
url("./flaticon.woff2?9e28ce18c993b1eefc5798acc22d0028") format("woff2"),
url("./flaticon.eot?9e28ce18c993b1eefc5798acc22d0028#iefix") format("embedded-opentype"),
url("./flaticon.svg?9e28ce18c993b1eefc5798acc22d0028#flaticon") format("svg");
}

i[class^="flaticon-"]:before, i[class*=" flaticon-"]:before {
    font-family: flaticon !important;
    font-style: normal;
    font-size: 35px;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.flaticon-github-logo-silhouette-in-a-square:before {
    content: "\f101";
}
